// DRY__Mobile-first
@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.footer__register form {
  display: flex;
  flex-direction: column;
  line-height: normal;
  letter-spacing: 1.54px;
  text-transform: uppercase;
  width: 274px;
  margin-top: 7.0625rem;

  h2 {
    width: 277px;
  }

  input {
    padding: 0;
    margin: 0 0 34px 0;
    border-bottom: 1px solid #c4c4c4;
    opacity: 0.5;
    height: 28px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    opacity: 0.5;
    @include font-styles(
      #fff,
      $font-family-rubik,
      14px,
      normal,
      400,
      normal,
      normal,
      none
    );
    &:first-of-type {
      margin: 22px 0 25px 0;
    }
  }

  ::placeholder {
    color: #ffffff;
    opacity: 1;
    @include font-styles(
      #fff,
      $font-family-rubik,
      14px,
      normal,
      400,
      normal,
      normal,
      none
    );
  }
}
