.register-button__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 351.75px;
  height: 393.75px;
  background-color: #fff;
  z-index: 9999;
}
@media only screen and (min-width: 768px) {
  .register-button__popup {
    width: 469px;
    height: 525px;
  }
}
.register-button__popup .register-button__form {
  display: flex;
  flex-direction: column;
  margin: 30.8px 40px 0;
}
@media only screen and (min-width: 768px) {
  .register-button__popup .register-button__form {
    margin: 56px 40px 0;
  }
}
.register-button__popup .register-button__form .register-button__title {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 19.8px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  margin: 0 0 18px;
}
@media only screen and (min-width: 768px) {
  .register-button__popup .register-button__form .register-button__title {
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 26.4px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: normal;
    text-transform: none;
  }
}
.register-button__popup .register-button__form .register-button__title span {
  background-color: #ffd540;
  font-weight: 400;
}
.register-button__popup .register-button__form p {
  margin: 0 0 19.95px;
  color: #828282;
  font-family: "rubik", sans-serif;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-transform: lowercase;
}
@media only screen and (min-width: 768px) {
  .register-button__popup .register-button__form p {
    margin: 0 0 57px;
  }
}
@media only screen and (min-width: 768px) {
  .register-button__popup .register-button__form p {
    color: #828282;
    font-family: "rubik", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    text-transform: lowercase;
  }
}
.register-button__popup .register-button__form p::first-letter {
  text-transform: uppercase;
}
.register-button__popup .register-button__form fieldset {
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 291.75px;
}
@media only screen and (min-width: 768px) {
  .register-button__popup .register-button__form fieldset {
    width: 389px;
  }
}
.register-button__popup .register-button__form fieldset:nth-of-type(1) {
  margin-bottom: 26.25px;
  padding-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .register-button__popup .register-button__form fieldset:nth-of-type(1) {
    margin-bottom: 35px;
  }
}
.register-button__popup .register-button__form fieldset:focus-within {
  opacity: 0.5;
}
.register-button__popup .register-button__form fieldset legend {
  color: #000;
  font-family: "rubik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;
  opacity: 0.3;
  margin-left: 19px;
}
.register-button__popup .register-button__form fieldset input {
  width: 100%;
  height: 38px;
  padding: 0 14px;
  color: #000;
  border: none;
  color: #000;
  font-family: "rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}
.register-button__popup .register-button__form fieldset input:focus {
  outline: none;
}
.register-button__popup .register-button__form .register-button__submit, .register-button__popup .register-button__form .register-button__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 291.75px;
  height: 48px;
  flex-shrink: 0;
  background-color: #e0e0e0;
  border-radius: 50px;
  border: none;
  margin-top: 54px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .register-button__popup .register-button__form .register-button__submit, .register-button__popup .register-button__form .register-button__close {
    width: 389px;
    height: 64px;
    margin-top: 72px;
  }
}
.register-button__popup .register-button__form .register-button__submit span, .register-button__popup .register-button__form .register-button__close span {
  color: #000;
  margin-left: 16px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .register-button__popup .register-button__form .register-button__submit span, .register-button__popup .register-button__form .register-button__close span {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
  }
}
.register-button__popup .register-button__form .register-button__submit svg, .register-button__popup .register-button__form .register-button__close svg {
  width: 22.5px;
  height: 19.5px;
}
@media only screen and (min-width: 768px) {
  .register-button__popup .register-button__form .register-button__submit svg, .register-button__popup .register-button__form .register-button__close svg {
    width: 30px;
    height: 26px;
  }
}
.register-button__popup .register-button__close {
  width: 13.69vw;
  height: 56px;
  background-color: transparent;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .register-button__popup .register-button__close {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
  }
}/*# sourceMappingURL=HeaderForm.css.map */