// // checked
@import "../../../../../scss/mixins.scss";
@import "../../../../../scss/variables.scss";

.register-button {
  display: none;
}

@media only screen and (min-width: 425px) {
  .register-button {
    @include flex-adjustment(flex, center, center);
    @include width_height(187px, 56px);
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid $main_color;
    color: $main_color;
    cursor: pointer;

    &__open {
      display: block;
      text-transform: uppercase;
      background: none;
      border: none;
      color: inherit;
      cursor: pointer;
      
      @include font-styles(
        $main_color,
        $font-family-montserrat,
        14px,
        normal,
        600,
        normal,
        normal,
        uppercase
      );
    }
  }
}
