.aboutTop {
  background: url("./image/union_about.png") no-repeat 220px 125px;
}
@media only screen and (min-width: 1440px) {
  .aboutTop {
    padding-top: 170px;
  }
}
@media only screen and (min-width: 2560px) {
  .aboutTop {
    background-position: 730px 125px;
  }
}
.aboutTop .about_header-top, .aboutTop .about_header-middle, .aboutTop .about_header-bottom {
  width: 95%;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  .aboutTop .about_header-top, .aboutTop .about_header-middle, .aboutTop .about_header-bottom {
    width: 90%;
  }
}
@media only screen and (min-width: 1440px) {
  .aboutTop .about_header-top, .aboutTop .about_header-middle, .aboutTop .about_header-bottom {
    max-width: 74.25rem;
  }
}
.aboutTop .about_header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .aboutTop .about_header-top {
    flex-direction: row;
    text-align: left;
  }
}
@media only screen and (min-width: 1440px) {
  .aboutTop .about_header-top {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 42px;
  }
}
.aboutTop .about_header-top .about_header-title {
  margin-top: 16px;
}
.aboutTop .about_header-top .about_header-title h4 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: normal;
}
.aboutTop .about_header-top .about_header-title h4 span {
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .aboutTop .about_header-top .about_header-title h4 {
    font-size: 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutTop .about_header-top .about_header-title h4 {
    height: 131px;
  }
}
@media only screen and (min-width: 1440px) {
  .aboutTop .about_header-top .about_header-title h4 {
    width: 659px;
    font-size: 64px;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutTop .about_header-top .about_header-title {
    margin-top: 0;
  }
}
.aboutTop .about_header-top .about_header-description {
  color: #fff;
  font-family: "Nunito";
  font-size: 13px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 35px;
}
@media only screen and (min-width: 768px) {
  .aboutTop .about_header-top .about_header-description {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1024px) {
  .aboutTop .about_header-top .about_header-description {
    font-size: 20px;
    width: 415px;
    margin: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .aboutTop .about_header-top .about_header-description {
    margin-left: 113px;
  }
}
.aboutTop .about_header-middle {
  background: url("./image/group_foto.png") no-repeat center;
  height: 35rem;
}
@media only screen and (min-width: 1024px) {
  .aboutTop .about_header-middle {
    background-size: contain;
  }
}
.aboutTop .about_header-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px auto;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 154px;
}
@media only screen and (min-width: 768px) {
  .aboutTop .about_header-bottom {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
@media only screen and (min-width: 1440px) {
  .aboutTop .about_header-bottom {
    margin-top: 62px;
  }
}
.aboutTop .about_header-bottom .about_header-question h6 {
  color: #fff;
  font-family: "Nunito";
  font-size: 28px;
  font-weight: 700;
}
@media only screen and (min-width: 1024px) {
  .aboutTop .about_header-bottom .about_header-question h6 {
    font-size: 32px;
  }
}
.aboutTop .about_header-bottom .about_header-question p {
  color: #fff;
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 400;
  margin-top: 26px;
}
@media only screen and (min-width: 1024px) {
  .aboutTop .about_header-bottom .about_header-question p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .aboutTop .about_header-bottom .about_header-question {
    width: 373px;
  }
}
.aboutTop .about_header-bottom .about_header-answer {
  display: flex;
  justify-content: center;
  margin-top: 46px;
  text-align: left;
}
.aboutTop .about_header-bottom .about_header-answer ul {
  color: #fff;
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media only screen and (min-width: 1024px) {
  .aboutTop .about_header-bottom .about_header-answer ul {
    font-size: 18px;
  }
}
.aboutTop .about_header-bottom .about_header-answer ul li {
  margin-bottom: 16px;
}
.aboutTop .about_header-bottom .about_header-answer ul li::before {
  content: url("./image/dot.svg");
  margin: 0 16px;
}
@media only screen and (min-width: 768px) {
  .aboutTop .about_header-bottom .about_header-answer {
    margin-top: 0;
  }
}/*# sourceMappingURL=about.css.map */