// Variables for colors, fonts, etc.
$color-white: #fff;
$gray-1: #333;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-rubik: 'rubik', sans-serif;


$background-color: rgb(0, 0, 0);
$main_color: #ffd540;
$spacing-base: 10px;
$transition-base: 0.3s linear;
